@import "../../scss/variables/colors";

.pokemon__pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 30px;

  .button {
    display: block;
    width: 150px;
    border: 1px solid $primaryGray;
    background-color: $primaryWhite;

    &:hover {
      color: $primaryWhite;
      background-color: $primaryGray;
    }

    &:disabled {
      color: lighten($primaryGray, 30%);
      background-color: $secondaryGray;
      border-color: $secondaryGray;
    }

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}