$primaryGray: #313131;
$secondaryGray: #BBB;

$primaryWhite: #FFF;

$primaryBlue: #3B4CCA;

$primaryGreen: #4B8B3B;

$primaryRed: #FF0000;
$secondaryRed: #CC0000;

$primaryYellow: #FFDE00;
$secondaryYellow: #B3A125;

$border: 1px solid #DDD;

$boxShadow: 0 2px 4px 0 $secondaryGray;